doctype html
html
  head
    title= 'hide'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Main
    em  |
    |
    |
    a(href='/bio') Biography
    em  |
    |
    |
    a(href='/discography') Discography

    block content
